<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- *********内容管理********* -->
    <bean id="contentService" class="cn.com.newcapec.citycard.content.service.impl.ContentService" parent="baseService"/>
    <bean id="contentAction" class="cn.com.newcapec.citycard.content.action.ContentAction" scope="prototype" parent="commonAction">
        <property name="contentService">
            <ref local="contentService"/>
        </property>
    </bean>
	
 	<!-- 公告 -->
    <bean id="bulletinAction" class="cn.com.newcapec.citycard.content.action.BulletinAction" scope="prototype" parent="contentAction"/>
</beans>
