a:hover {
	background-color: 3399FF;
}

body {
	font-family: Verdana, Arial, Sans-serif;
}

button {
	background-color: #3399FF;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3399FF),
		color-stop(50%, #dddddd), color-stop(50%, #d2d2d2),
		color-stop(100%, #dfdfdf) );
	background-image: -webkit-linear-gradient(top, #3399FF 0%, #dddddd 50%, #d2d2d2 50%,
		#dfdfdf 100%);
	background-image: -moz-linear-gradient(top, #3399FF 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf
		100%);
	background-image: -ms-linear-gradient(top, #3399FF 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf
		100%);
	background-image: -o-linear-gradient(top, #3399FF 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf
		100%);
	background-image: linear-gradient(top, #3399FF 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #b4b4b4;
	border-right: 1px solid #dfdfdf;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px
		1px #efefef;
	box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px
		#efefef;
	color: #666;
	font: bold 16px/1 "helvetica neue", helvetica, arial, sans-serif;
	margin: 0;
	padding: 4px 0;
	text-shadow: 0 1px 1px #fff;
	width: 58px;
}

button:hover {
	background-color: #e5e5e5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5),
		color-stop(50%, #d1d1d1), color-stop(50%, #c4c4c4),
		color-stop(100%, #b8b8b8) );
	background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%,
		#b8b8b8 100%);
	background-image: -moz-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8
		100%);
	background-image: -ms-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8
		100%);
	background-image: -o-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8
		100%);
	background-image: linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
	-webkit-box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9, 0 -1px
		2px 1px #e3e3e3;
	box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9, 0 -1px 2px 1px
		#e3e3e3;
	cursor: pointer;
}

hr {
	color: #3399FF;
	height: 1px;
	border: 0px;
	border-top: 1px solid #3399FF;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

button:active {
	-webkit-box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white;
	box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white;
}

input[type='text'] {
	background-color:aquamarine;
	font-size: 13px;
	line-height: 20px;
}